/* FotoGaleriKategori.module.css */
.bannerImage {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  background-color: #333;
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 2;
}

.titleContainer h1 {
  font-size: 3rem;
  margin: 0;
  color: black;
}

.kategoriContainer {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
  width: 300px;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cardText {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  display: block;
}


@media screen and (max-width: 1100px) {
  .bannerImage {
    height: 40vh;
  }

  .titleContainer {
    width: 70%;
  }

  .titleContainer h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .bannerImage {
    height: 30vh;
  }

  .titleContainer {
    width: 90%;
  }

  .titleContainer h1 {
    font-size: 2rem;
  }
}
  