.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #d4cfca;
  color: #222;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
  margin-bottom: 1px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.carouselContainer {
  width: 90%;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  object-fit: cover;
  display: block;
  margin: 40px auto 10px;
  border-radius: 20px;
}

.cardText {
  padding: 10px;
  flex: 1;
  line-height: 1.6;
  font-size: 16px;
}

.customPrevArrow, .customNextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: linear-gradient(to right, #2e5077, #457fbc);
  color: white;
  border-radius: 50%;
  padding: 6px 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  z-index: 10;
}

.customPrevArrow:hover, .customNextArrow:hover {
  background: #457fbc;
}

.customPrevArrow {
  left: -40px;
}

.customNextArrow {
  right: -40px;
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .title {
    font-size: 20px;
  }
  .customPrevArrow {
    left: -30px;
  }
  .customNextArrow {
    right: -30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
  .title {
    font-size: 20px;
  }
  .customPrevArrow {
    left: -10px;
  }
  .customNextArrow {
    right: -10px;
  }
  .cardImage {
    width: 240px; /* İstediğiniz genişlik */
    height: auto; /* Yüksekliği orantılı olarak ayarla */
    object-fit: cover; /* Görseli kırpma veya sığdırma */
  }
}


@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
  }

  .title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .customPrevArrow, .customNextArrow {
    padding: 6px 12px;
    font-size: 12px;
  }

  .customPrevArrow {
    left: 0px;
  }
  .customNextArrow {
    right: 0px;
  }
  .card:hover {
    transform: none;
    transition: none;
  }

  .cardImage {
    width: 100%; /* Ekran genişliğine göre ayarla */
    max-width: 240px;
    height: auto; /* Yüksekliği orantılı olarak ayarla */
    object-fit: cover; /* Görseli kırpma veya sığdırma */
  }
}

