.modal-content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .modal-header button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
  }
  
  .modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .thumbnails-container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .thumbnail-image {
    width: 25%;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .thumbnail-image.selected {
    border: 2px solid red;
  }