.sliderContainer {
  margin-bottom: -5px;
  background-color: #d4cfca;
  margin-top: 5px;
  width: 100%;
  height: 700px;
}


.rightArrow, .leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 24px;
  color: #fff;
  z-index: 5;
  cursor: pointer;
  background: linear-gradient(to right, #2e5077, #457fbc);
  border-radius: 50%;
  padding: 12px 24px;
}

.leftArrow {
  left: 32px;
}

.rightArrow {
  right: 32px;
}

/* SurguluBanner.module.css içerisinde */
.placeholder {
  width: 100%;
  height: 800px; /* Varsayılan yükseklik, ihtiyaca göre ayarlayın */
  background: #d4cfca;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 20px;
}


/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .rightArrow, .leftArrow {
    padding: 6px 12px; /* Adjust padding accordingly */
    font-size: 12px;
    left: 8px; /* Both arrows adjusted to the same side for simplification */
    right: auto;
  }
  
  .rightArrow {
    right: 8px;
    left: auto;
  }
  .sliderContainer{
    height: 180px;
  }
  .placeholder{
    height: 180px;
  }
}

@media only screen and (min-width: 768px) and (max-width:1100px) {
  .rightArrow, .leftArrow {
    padding: 9px 18px; /* Adjust padding accordingly */
    font-size: 18px;
    left: 8px; /* Both arrows adjusted to the same side for simplification */
    right: auto;
  }

  .rightArrow {
    right: 8px;
    left: auto;
  }
}

.slick-slide img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

